<div class="text-center" *ngIf="loading">
  <span class="h4 text-light mr-2">Cargando</span>
  <i class="h4 fas fa-sync-alt fa-spin text-light"></i>
</div>

<div *ngIf="!loading" class="animated fadeIn">
  <div class="row justify-content-center">
    <div class="col-12 col-md-4">
      <div class="card shadow mb-3">
        <div class="card-body"></div>
      </div>
      
    </div>
    <div class="col-12">
      <div class="card shadow mb-3">
        <div class="card-body">
          
        </div>
      </div>
    </div>
  </div>
</div>
