<div class="text-center" *ngIf="loading">
  <span class="h4 text-light mr-2">Cargando</span>
  <i class="h4 fas fa-sync-alt fa-spin text-light"></i>
</div>

<div *ngIf="!loading" class="animated animate__bounceInDown">
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-3">
        <div class="card-body">
          <div class="form-group">
            <!-- <div class="form-control"> -->
              <input class="form-control" type="date" id="birthday" name="birthday">
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
