  <div class="row justify-content-center">
    
    <div *ngFor="let pc of computadoras" class="col-12 col-md-4">
      <div class="card shadow mb-3">
        <div class="card-body">
          <p class="h5 text-center">
            <a class="text-secondary text-decoration-none" data-toggle="collapse" href="#ordenador-{{ pc.cod }}" role="button" aria-expanded="false" aria-controls="collapse">
              <i class="fas fa-{{ pc.tipo }}"></i> {{ pc.teamviewer }} <i class="fas fa-angle-down"></i>
            </a>
          </p>
          <div class="collapse" id="ordenador-{{ pc.cod }}">
            <table class="table table-sm">
              <tr>
                <th>Codigo</th>
                <td>{{ pc.cod }}</td>
              </tr>            
              <tr>
                <th>Nombre Equipo</th>
                <td>{{ pc.nombre_equipo }}</td>
              </tr>
              <tr>
                <th>IP Fija</th>
                <td>{{ pc.ip_fija }}</td>
              </tr>
              <tr>
                <th>TeamViewer</th>
                <td>{{ pc.teamviewer }}</td>
              </tr>
              <tr>
                <th>Ultimo mant.</th>
                <td></td>
              </tr>
            </table>
            
            <div class="text-center">
              <button class="btn btn-dark mr-2" [routerLink]="['/editar-pc/',pc.id]">Editar</button>
              <button class="btn btn-secondary" [routerLink]="['/agregar-mantenimiento/',pc.cod]">Mantenimiento</button>
          </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-6 col-md-2 text-center">
      <div class="card shadow">
        <div class="card-body">
          <i routerLink="/agregar-pc" class="fas fa-plus-circle fa-2x text-secondary"></i>
          
        </div>
      </div>
    </div>
  </div>