<div class="text-center" *ngIf="loadingForm">
  <span class="h4 text-light mr-2">Cargando</span>
  <i class="h4 fas fa-sync-alt fa-spin text-light"></i>
</div>
  
<div *ngIf="user$ | async as user" class="animated fadeIn">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg mb-3">
        <div class="card-body">
          <h4 class="text-center mb-3">{{ titulo }}</h4>
          <!-- <div class="alert alert-danger p-1 mt-3" *ngIf="submitted && createOrdenador.invalid" >Todos los campos son requeridos</div> -->
          <form [formGroup]="createOrdenador" (ngSubmit)="agregarEditarOrdenador()">
            <!-- <div class="alert alert-danger text-center p-1 mt-3" *ngIf="submitted && createOrdenador.invalid">Completa los campos requeridos</div> -->
            
            <div class="row">
              <div class="col-7 pr-0">
                <div class="form-group">
                  <label for="">ID de TeamViewer <b class="text-danger">**</b></label>
                  <input type="text" class="form-control" oninput="this.value = this.value.toUpperCase()"
                      formControlName="teamviewer" [class.is-invalid]="submitted && createOrdenador.get('teamviewer')?.invalid">
                </div>
              </div>
              <div class="col-5">
                <div class="form-group">
                  <label for="">Codigo</label>
                  <input type="text" class="form-control"
                      formControlName="cod" [attr.disabled]="disable_cod? true : false">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="">Usuario</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="">Contraseña</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="">Sistema Operativo</label>
              <input type="text" class="form-control">
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="">Procesador</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="">Memoria RAM</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div> 

            <div class="form-group">
              <label for="">Discos</label>
              <input type="text" class="form-control">
            </div>

            <div class="form-group">
              <label for="">Tipo de Internet</label>
              <select class="form-control">
                <option value=""></option>
                <option value="">Wifi</option>
                <option value="">Ethernet</option>
              </select>
            </div>
            <div class="row">
              <div class="col-12 col-md-7">
                <label for="">Info adicional</label>
                <textarea class="form-control" cols="30" rows="12"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="">Nombre del equipo</label>
                  <input type="text" class="form-control"
                          oninput="this.value = this.value.toUpperCase()"
                          formControlName="nombre_equipo">
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-12 col-md-7 pr-0">
                <div class="form-group">
                  <label for="">IP fija</label>
                  <input type="text" class="form-control"
                      formControlName="ip_fija" [class.is-invalid]="createOrdenador.get('ip_fija')?.invalid">
                  <div class="invalid-feedback">
                    Formato de IP no válido. <br>Ingresar valor entre 1.1.1.1 y 255.255.255.255
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="form-group">
                  <label for="">Tipo de computadora <b class="text-danger">**</b></label>
                  <select formControlName="tipo" class="form-control"
                      [class.is-invalid]="submitted && createOrdenador.get('tipo')?.invalid">
                    <option value="desktop">Escritorio</option>
                    <option value="laptop">Notebook</option>
                    <option value="server">Servidor</option>
                  </select>
                </div>
              </div>
              
            </div>
            
            <div class="form-check text-center-">
              <input class="form-check-input" type="checkbox" id="estado" formControlName="estado">
              <label class="form-check-label" for="estado">
                Computadora en uso
              </label>
            </div>
            <p><b class="text-danger">**</b> Campos requeridos</p>
            <div class="text-center mt-3">
              <app-back-button></app-back-button>
              <!-- <button type="submit" [disabled]="submitted" class="btn btn-info">Guardar <i *ngIf="submitted" class="fas fa-spinner fa-spin"></i></button> -->
              <button type="submit" [disabled]="loading" class="btn btn-info">Guardar <i *ngIf="loading" class="fas fa-spinner fa-spin"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
