/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
/* 
  colores lubrimax
  azul: #1E376D
  rojo: #D7191E 
*/

body{
  background: #0099F7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D7191E, #1E376D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D7191E, #1E376D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* height: 100vh; */
  overflow-y: scroll;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

.is-invalid{
  background-image: none !important;
}

label:not(.form-check-label){
  font-weight: 500;
}

.animated {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@media (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

svg path,
svg rect{
fill: black;
}